<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoQ API</title>
    <style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
        #currentTime {
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>
<body>

<h1>Welcome to NoQ</h1>
<p>Backend for an app aimed at simplifying bed bookings for the homeless</p>
<p>Page reload at: <span id="currentTime"></span></p>
<h3>API backend:</h3>
    <p>{health_status}</p><br/><br/>
    <p><a href="/docs">open api docs</a></p><br/>

    <script>
        // Function to update the current time
        function updateCurrentTime() {
            var currentTimeElement = document.getElementById('currentTime');
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();

            // Add leading zero if the value is less than 10
            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;

            // Format the time as HH:mm:ss
            var formattedTime = hours + ':' + minutes + ':' + seconds;

            // Update the content of the element
            currentTimeElement.textContent = formattedTime;
        }

        // Function to refresh the page every 10 minutes
        function refreshPage() {
            location.reload();
        }

        // Update the current time every second
        // setInterval(updateCurrentTime, 1000);

        // Refresh the page every 10 minutes (600,000 milliseconds)
        setTimeout(refreshPage, 300000);

        // Initial update when the page loads
        updateCurrentTime();
    </script>

</body>
</html>
